@charset "utf-8";
/* CSS Document */

select {

          float:right; 
		  background:none;
		  color:#fff;
	      font-weight:bold;
		  border:none;
		  position:absolute;
		  right:1rem;
	}
	


select option {
	      background:none;
		  color:#ff85d2;
	      font-weight:bold;
		  border:none;	
	      cursor:help; 
	
	}


select:focus {
	      background:none;
	      cursor:help;
          outline: none;
}


#home{

    
	}
	

#home p{
	position:relative;
	top:1.5rem;
	display:block;
	text-decoration: none;
	color:#fff;
	font-weight:bold;
	cursor:help;
	}
	


	
