@charset "utf-8";
/* CSS Document */
body{
	 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

button{
position: relative;
background:none;
border: none;
float: right;
top: .8rem;
}

button:hover{
	border: none;
	background: none;
	padding-top: .3rem;
}

button:focus{
	border: none;
	background-color:#3F98F3;
	padding-top: .3rem;
	outline: none;
	border-radius:50%
}

#it,#zh,#en{
	position: relative;
   right: .5rem;
}



#home{

    
	}
	

#home p{
	position:relative;
	top:.5rem;
	left:.5rem;
	display:inline-table;
	text-decoration: none;
	color:#fff;
	cursor:help;
	line-height: 1.5rem;
	
	}
	

@media (max-width: 770px) {
	button{
position: relative;
background:none;
border: none;
float: right;
top: 2rem;
}
	#home p{
	display:block;
	}
	#p1,#p2,#p3 {   
	writing-mode: vertical-rl;

     }
		  
  
}

	
